/frontend
/socialmedia/static/assets/img/gallery
/socialmedia/static/assets/img/team

/socialmedia/static/assets/scss


myenv/

__pycache__/
*.pyc

.env

instance/

*.db

.vscode/

static/uploads/*
!static/uploads/.gitkeep