{% extends "auth.html" %}
 {% block title %}About{% endblock %} 
{% block forms %}

<h1 class="text-center">About SomeTime</h1>

<div class="card p-3 ">
  
   
    <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Fuga obcaecati velit porro quod vero molestiae quos, doloremque quo ducimus ipsam molestias enim repudiandae suscipit deserunt possimus vel consequuntur ipsum impedit incidunt laborum dignissimos! Deleniti voluptatum numquam repellat amet asperiores consequatur laudantium deserunt, nam maiores unde alias aliquid aspernatur? Magni, tempore.</p>
</div>

{% endblock forms %}
