{% extends "auth.html" %} {% block title %}Login{% endblock %} {% block forms
%}

<h1 class="text-center">Login</h1>

<div class="card p-3">
  <form action="/login" method="post">
    
    

    <div class="form-group">
      <input
        class="form-control mb-2 p-3"
        type="email"
        name="email"
        placeholder="Enter email"
        required />
    </div>

    
    <div class="form-group">
      <input
        class="form-control mb-2 p-3"
        type="password"
        name="pass1"
        placeholder="Enter password"
        required />
    </div>

    

    <br />

    <div class="d-grid gap-3">
      <button type="button" class="btn btn-primary">Login</button>
    </div>

  </form>
</div>

{% endblock forms %}
