{% extends "base.html" %}
{% block title %}Home {% endblock  title %}
{% block body %}
{% include 'messages.html' %}
<h1 class="text-center">Posts</h1>
<hr>
 <section id="details" class="details section">

      <div class="container">

        {% for d in data|reverse %}

        <div class="row gy-4 align-items-center features-item">
          <div class="col-md-5 d-flex align-items-center" data-aos="zoom-out" data-aos-delay="100">
            <img src="{{ url_for('static', filename='uploads/' + d.image) }}" class="img-fluid" alt="">
          </div>
          <div class="col-md-7" data-aos="fade-up" data-aos-delay="100">
            <h3>{{ d.title }}</h3>
            <p class="fst-italic">
              {{ d.description }}
            </p>
            <ul>
                <li><i class="bi bi-check"></i><span> Uploaded by : {{ d.name }}</span></li>
                <li><i class="bi bi-check"></i><span> Uploaded On : {{ d.date }}</span></li>
                <li><i class="bi bi-check"></i><span> Uploaded Time : {{ d.time }}</span></li>
                
                <span class="d-flex gap-3"> 
                 <a href="/like/{{d.post_id}}" ><i class="fa-regular fa-heart fa-beat fa-2xl"></i>Liked By {{d.likes}}</a>
                <!-- <li><i class="fa-regular fa-thumbs-up fa-beat fa-2xl"></i> Liked By {{d.likes}} </li> -->
                <a href="/viewcomment/{{d.post_id}}"><i class="fa-solid fa-eye fa-fade fa-2xl"></i> View Comments</a>
              </span>



              <hr>

              <form action="/comment/{{d.post_id}}" method="post">

                <input type="hidden" name="commented" value="{{current_user.first_name}} {{current_user.last_name}}">
                <label for="comment">Add Your Comments</label>
                <textarea name="comment" class="form-control mt-3 mtb-3 mb-3" required></textarea>

                <button class="btn btn-primary">Add Comment</button>

              </form>
            </ul>
          </div>
        </div><!-- Features Item -->

        {% endfor %}

      </div>

    </section><!-- /Details Section -->
{% endblock body %}